<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daily Cases Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container ">

    <nav class="pb-3 pt-3 m-2">
        <div class="d-flex justify-content-between">
            <span>
                <a th:href="@{/}" class="btn btn-light">الرجوع</a>
            </span>
        </div>

        <div class="d-flex justify-content-center">
            <span class="hafar-albatin-details">احصائيات محافظة حفر الباطن</span>
        </div>
        <hr class="line">
    </nav>

<!--    <div class="tableFixHead">-->
<!--&lt;!&ndash;        <table class="table ">&ndash;&gt;-->
<!--&lt;!&ndash;            <thead class="table-dark ">&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <th >التاريخ</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الفحوصات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>التعافي</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الوفيات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الحالات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>المدينة</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>ID</th>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            </thead>&ndash;&gt;-->

<!--&lt;!&ndash;            <tbody  th:each="case : ${cases}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${case.reported_at}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${case.tested}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${case.recovered}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${case.deaths}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${case.confirmed}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${case.name_ar}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="${case.ID}">&ndash;&gt;-->
<!--&lt;!&ndash;            </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->

<!--&lt;!&ndash;        <table class="table ">&ndash;&gt;-->
<!--&lt;!&ndash;            <thead class="table-dark ">&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <th >التاريخ</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الفحوصات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>التعافي</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الوفيات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الحالات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>المدينة</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>ID</th>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            </thead>&ndash;&gt;-->

<!--&lt;!&ndash;            <tbody  th:each="case : ${cases}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.reported_at}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.tested}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.recovered}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.deaths}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.confirmed}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.name_ar}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.ID}">&ndash;&gt;-->
<!--&lt;!&ndash;            </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->

<!--&lt;!&ndash;        <table class="table ">&ndash;&gt;-->
<!--&lt;!&ndash;            <thead class="table-dark ">&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <th >التاريخ</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الفحوصات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>التعافي</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الوفيات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>الحالات</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>المدينة</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>ID</th>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            </thead>&ndash;&gt;-->

<!--&lt;!&ndash;            <tbody  th:each="case : ${cases}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.reported_at}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.tested}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.recovered}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.deaths}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.confirmed}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.name_ar}">&ndash;&gt;-->
<!--&lt;!&ndash;            <td th:text="${case.ID}">&ndash;&gt;-->
<!--&lt;!&ndash;            </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->

<!--    </div>-->

    <div >
            <table class="table table-borderless d-flex justify-content-center">

                <tr class="d-flex flex-row-reverse justify-content-center">

                    <td>
                        <a style="color: black; text-decoration: none" th:href="@{/CasesByCity(city='Hafar Al Batin')}">
                        <div class="border shadow bg-body m-2 px-2">
                            <label class="label d-flex d-flex justify-content-center">حفر الباطن</label>
                            <span class="number all-cases d-flex justify-content-center" th:text="${hafarAlbatin}"></span>
                        </div>
                        </a>
                    </td>

                </tr>
                <tr>
                    <td>
                        <a style="color: black; text-decoration: none" th:href="@{/CasesByCity(city='Al Qaysumah')}">
                        <div class="border shadow bg-body m-2 px-2">
                            <label class="label d-flex d-flex justify-content-center">القيصومة</label>
                            <span class="number all-cases d-flex justify-content-center" th:text="${Qaysumah}"></span>
                        </div>
                        </a>
                    </td>
                    <td >
                        <a style="color: black; text-decoration: none" th:href="@{/CasesByCity(city='Ar Ruqʻi')}">
                        <div class="border shadow bg-body m-2 px-2">
                            <label class="label d-flex d-flex justify-content-center">الرقعي</label>
                            <span class="number all-cases d-flex justify-content-center" th:text="${Rugai}"></span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a style="color: black; text-decoration: none" th:href="@{/CasesByCity(city='As Sufairy')}">
                        <div class="border shadow bg-body m-2 px-2">
                            <label class="label d-flex d-flex justify-content-center">الصفيري</label>
                            <span class="number all-cases d-flex justify-content-center" th:text="${Sufairy}"></span>
                        </div>
                        </a>
                    </td>
                </tr>
                <tr>

                    <td>
                        <a style="color: black; text-decoration: none" th:href="@{/CasesByCity(city='Samudah')}">
                        <div class="border shadow bg-body m-2 px-2">
                            <label class="label d-flex d-flex justify-content-center">سامودة</label>
                            <span class="number all-cases d-flex justify-content-center" th:text="${Samudah}"></span>
                        </div>
                        </a>
                    </td>
                    <td>
                        <a style="color: black; text-decoration: none" th:href="@{/CasesByCity(city='As Suʻayyirah')}">
                        <div class="border shadow bg-body m-2 px-2">
                            <label class="label d-flex d-flex justify-content-center">السعيرة</label>
                            <span class="number all-cases d-flex justify-content-center" th:text="${Suayyirah}"></span>
                        </div>
                        </a>
                    </td>

                    <td colspan="3">
                        <a style="color: black; text-decoration: none" th:href="@{/CasesByCity(city='Adh Dhibiyyah')}">
                        <div class="border shadow bg-body m-2 px-2">
                            <label class="label d-flex d-flex justify-content-center">الذيبية</label>
                            <span class="number all-cases d-flex justify-content-center" th:text="${Dhibiyyah}"></span>
                        </div>
                        </a>
                    </td>
                </tr>

            </table>


    </div>


</div>

</body>
</html>